#nav-bar{
    display: flex;
    align-items: center;
    background-color: black;
    height: 10vh;
    width: auto;
    box-shadow: 0px 0px 10px gray;
}
#header-title{
    width: 50vw;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 25%;
    overflow: hidden
}
#restaurant-title{
    color: white;
}
#logo-btn{
    overflow: hidden;
    display: flex;

}
.footer-subsection{
    text-align: start;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;

}
.blacktxt{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.whitetxt{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-btn{
    font-size: xx-large;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: 10%;
    transition: border 0.2s ease-in-out;
}
.footer-btn:hover {
    border: 2px solid white;
}
#location1-btn, #location2-btn{
    text-align: start;
    display: flex;
    
}
#subpage-btn{
    width: 15vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    height: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: border-bottom 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
#subpage-btn:hover{
    border-bottom: 2px solid white;
    
}
.bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.floating-txt{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color: black;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2)), 
                linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2));
    font-size: 5vh;
    width: 90%;
    max-height: 60vh;
    text-align: center;
    overflow-y: auto;
    
}
.description{
    margin-top: 2vh;
    width: 50vw;
    position: relative;
    left: 25%;
    margin-bottom: 2vh;

}
#about-section{
    width: auto;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.small-img{
    width: 75%;
    height: auto;
    margin: 10%;
}
.sub-section{
    width: 50%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    
}
#restaurant-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;

}
#footer-section{
    display: flex;
    align-items: start;
    padding-top: 5%;
    justify-content: space-around;
    background-color: black;
    height: auto;
    width: auto;
    overflow: hidden;
    font-size: 75%;
    padding-bottom: 5%;
}
.txt-description{
    width: 75%;
    margin-left: 10%;
    overflow: hidden;
}
#txt-description-top{
    margin-top: 10%;
}
.social-icon{
    border: 2px solid white;
    border-radius: 8px;
    width: fit-content;
    
}
#social-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding-top: 10%;
}
#socials-subsection{
    display: flex;
    justify-content: start;
    width: 20%;
}
#menu-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.two-menu-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item{
    position: relative;
    width: 35%;
    height: auto;
    border-radius: 8px;
}
.menu-item img{
    width: 95%;
    margin: 2.5%;
    border-radius: 16px;
}
.menu-item:hover .menu-item-name{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}
.menu-item-price{
    width: 80%;
}
.menu-item-name{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    border-radius: 16px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    height: 90%;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s, bottom 0.2s;
}
.menu-item-desc{
    width: 75%;
    font-size: 125%;
    text-align: center;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
* {
    margin: 0;
    padding: 0;
}
p{
    font-size: 25px;
}