#nav-bar{
    display: flex;
    align-items: center;
    background-color: rgba(40,40,40,1);
    height: 10vh;
    width: auto;
    box-shadow: 0px 0px 10px gray;
}
.menu-toggle{
    display: none;
    cursor: pointer;

}
#header-title{
    width: 50vw;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    overflow: hidden;
}
#restaurant-title{
    color: white;
    font-size: 4.5vw;
}
#logo-btn{
    overflow: hidden;
    display: flex;

}
.footer-subsection{
    text-align: start;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: hidden;
}
.blacktxt{
    color: rgba(40,40,40,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.whitetxt{
    color: rgba(247,247,247,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-btn{
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: 10%;
    transition: border 0.2s ease-in-out;

}
.footer-btn:hover {
    border: 2px solid white;
}
#location1-btn, #location2-btn{
    text-align: start;
    display: flex;
    
}


#menu-toggle-page{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
    visibility: hidden;
    margin-right: 0;
    opacity: 1;
    transition: all 1s ease;
    transform: translateY(calc(5*10vh*-1));
}
#cancelbtn{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
#cancelbtn svg{
    height: 10vh;
}
#cancel-btn{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    background-color: #282828;
    opacity: 1;
    border: none;
}
#navbar-btn{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    
}
#navbar-btn svg{
    height: 15vh;
}
#menu-toggle-page ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
#menu-toggle-page li{
    height: 10vh;
}
#menu-toggle-page li:hover{
    border-bottom: 2px solid black;
}
#menu-toggle-page a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}


.subpage-btn{
    width: 15vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    height: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: border-bottom 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subpage-btn:hover{
    border-bottom: 2px solid white;
    
}
.bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.floating-txt{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -45%);
    color: rgba(40,40,40,1);
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2)), 
                linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2));
    font-size: 2.5vw;
    width: 90%;
    max-height: 60vh;
    text-align: center;
    overflow-y: auto;
    
}

#about-section{
    width: auto;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative; 
}


#restaurant-bg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 55vw;
    position: relative;
    padding-bottom: 5%;
}
.sub-section{
    width: 45%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt-description{
    width: 75%;
    margin-left: 10%;
    overflow: hidden;
    font-size: 1.5vw;

}
.txt-description p{
    font-size: 2vw;
}
#txt-description-top{
    margin-top: 0vw;
}
.small-img{
    width: 75%;
    height: auto;
    margin-left: 4.5vw;
}
.description{
    margin-top: 2vh;
    width: 50vw;
    position: relative;
    left: 25%;
    margin-bottom: 2vh;
    font-size: 2.5vw;
}
#footer-section{
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
    background-color: rgba(40,40,40,1);
    height: 17.5vw;
    width: auto;
    overflow: hidden;
    font-size: 75%;
    padding-bottom: 5%;
    font-size: 1vw;
}
#footer-section p{
    font-size: 1.5vw;
}
#socials-subsection{
    display: flex;
    justify-content: start;
    width: 20%;
}
#footer-restaurant-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2vw;
    width: 20vw;
    
}
.menu-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    
}
#menu-section{
    background-color: rgba(54, 69, 79, 1);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3vw;
    padding-top: 5%;
    position: relative;
    padding-bottom: 5%;
}
#menu-section p{
    font-size: 2vw;
}
.three-menu-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2.5%;
}
.menu-item{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.menu-item img{
    width: 95%;
    margin: 2.5%;
    border-radius: 16px;
}
.menu-item:hover .menu-item-name{
    visibility: visible;
    opacity: 1;
    bottom: 0;
}
.menu-item-price{
    width: 80%;
}
.menu-item-name{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.5);
    border-radius: 16px;
    width: 95%;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    height: 90%;
    color: rgba(40,40,40,1);
    visibility: hidden;
    opacity: 0;
    overflow-y: hidden;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, bottom 0.4s ease-in-out;
}

.menu-item-desc{
    width: 95%;
    text-align: center;
}
#full-menu-btn{
    display: inline-block;
    border: 2px solid rgba(247,247,247,1);
    width: fit-content;
    align-self: center;
    padding: 10px;
    margin-bottom: 5%;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(247,247,247,1);
    text-decoration: none;
    background-color: none;
    transition: background-color .4s, border .4s, color .4s, text-decoration .4s;
}
#full-menu-btn:hover{
    background-color: rgba(247,247,247,1);
    border: 2px solid rgba(40,40,40,1);
    color: rgba(40,40,40,1);
    text-decoration: underline;

}
@media screen and (max-width: 710px){
    .subpage-btn{
        visibility: hidden;
        opacity: 0;
    }
    
    .menu-toggle{
        visibility: visible;
        display: block;
    }
    #restaurant-bg{
        height: 165vh;
        flex-direction: column;
        padding: none;
    }
    .sub-section{
        width: 100%;
        padding: none;
        margin: none;
        margin-right: 0;
        margin-left: 0;
    }
    .sub-section img{
        padding: none;
        margin: none;
        width: 85vw;
    }
    .txt-description{
        font-size: 6vw;
        width: 85%;
        margin-left: 5%;
    }
    .txt-description p{
        font-size: 5vw;
    }
    .small-img{
        margin-left: 0;
        width: 85%;
    }
    .floating-txt{
        height: 100%;
        font-size: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .floating-txt p{
        font-size: 5vw;
        width: 80%;
        
    }
    .description{
        left: 0;
        margin-bottom: 0px;
    }
    #footer-section{
        height: 25vh;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 5%;
        font-size: 2vw;
        align-items: center;
        justify-content: center;
    }
    
    .footer-subsection{
        width: 100%;
    }
    .footer-subsection p{
        font-size: large;
    }
    .footer-subsection a{
        font-size: 4vw;
    }
    #socials-subsection{
        width: 60%;
    }
    #footer-restaurant-name{
        width: 100%;
        height: fit-content;
        
        margin-bottom: 45%;
        
    }
    #left{
        margin-left: 10px;
        text-align: center;
        margin-bottom: 30%;
    }
    #left p{
        font-size: 2.5vw;
    }
    
    #menu-section p{
        font-size: 3vw;
    }
    .menu-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu-item{
        font-size: 3px;
    }
    .menu-items :nth-child(9){
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    #full-menu-btn{
        width: 100px;
        font-size: 4vw;
        margin-top: 5%;
    }
}



.social-icon{
    border: 2px solid white;
    border-radius: 8px;
    width: fit-content;
    
}
#social-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 5px;
    overflow: hidden;
    padding-top: 10%;
}




.menu-ui-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -10px;
}

.menu-ui-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vw;
    transform: rotateY(180deg);
}

.menu-ui-curve .shape-fill {
    fill: #36454F;
}
.restaurant-bg-ui-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -10px;
    
}

.restaurant-bg-ui-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vw;
    transform: rotateY(180deg);
}

.restaurant-bg-ui-curve .shape-fill {
    fill: rgba(247,247,247,1);
}
.footer-ui-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -10px;
}

.footer-ui-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vw;
    transform: rotateY(180deg);
}

.footer-ui-curve .shape-fill {
    fill: #282828;
}
.landingpage-ui-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.landingpage-ui-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vw;
    transform: rotateY(180deg);
}

.landingpage-ui-curve .shape-fill {
    fill: rgba(247,247,247,1);
}
a{
    cursor: pointer;
    text-decoration: none;
    color: rgba(40,40,40,1);
}
* {
    margin: 0;
    padding: 0;
}
p{
    font-size: 25px;
}